/* CSS global */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;

  width: 1100px;
  height: 700px;
  margin: auto;
}

.wrapper-header {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: coral;
}

#photo {
  border-radius: 100%;
}

#photo > img {
  width: 200px;
  border-radius: 100%;
  margin-bottom: 32px;
}

.wrapper-header > span {
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.wrapper-header > span.actual {
  font-weight: 700;
}

a {
  color: rgb(27, 27, 27);
  text-decoration: none;
}

/* ul {
  list-style: none;
} */

ul > li {
  font-size: 18px;
  margin-bottom: 8px;
}

/* end global CSS */

/* Css index */
.link-contact {
  color: coral;
  margin-right: 16px;
}

.wrapper-main {
  margin-left: 16px;
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 48px;
}

#contact {
  display: flex;
  flex-direction: column;
}

#contact > span {
  font-size: 20px;
  margin-bottom: 8px;
}

.description {
  width: 80%;
}

.social-media {
  font-size: 24px;
}

.social-media > a {
  margin-top: 16px;
  margin-right: 8px;
}
/* End CSS index */

/*CSS objectives */

/*End CSS objectives */

/*CSS knowledge */
#languages :not(h3) {
  font-size: 24px;
  margin-right: 5px;
}

/*End CSS knowledge */
